<% include partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center;"> Create New Product Entry (Batch) </h1>
        <div style="width: 30%; margin: 30px auto;">
            <form id="formid" action="/batch/search" method="POST">
            	<div class="form-group">
                   <input class="form-control" name="batchCode" type="text" placeholder="Batch Code"> 
                </div>
                <button type="submit" class="btn btn-primary btn-lg">SUBMIT</button>
            </form>
            <a style="text-align: center;" href="/">Go Back</a>
        </div>
    </div>

</div>

<% include partials/footer %>
